<div id="chatarea">

    <div class="row">
        <div class="col-12" (click)="checkNick()">
            <p id="eingabebereich">Eingabebereich</p>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="textfeld">
                <textarea maxlength="1000" cols=60 [(ngModel)]="chatText" placeholder="Schreiben Sie hier Ihren Text."
                    (keyup.enter)="sendChat()"></textarea>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <div id="sendebutton">
                <button type="button" class="btn btn-outline-light btn-large" type="submit" name="submit" value="Absenden"
                    (click)="sendChat()" [disabled]="!chatText">Absenden</button><br />
            </div>
            <br />
            <br />
        </div>
    </div>
</div>