#eingabebereich {
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    background-color: none;
    width: 100%;
    height: 65%;
    border: 1px solid rgb(0, 102, 185);
}

#textfeld, #sendebutton {
    display:inline-block;
    vertical-align: top;
}