.container-fluid {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footertext {

    position: relative;    
    top: 95%;
    color: white;
    background-color: rgb(200, 65, 40);
}
