
.container-fluid {
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   background-color: rgb(200, 65, 40);

}

.row {
    background-color: rgb(200, 65, 40);
}

#footertext {

    position: fixed;
    bottom: 0%;

    border-top: 2px solid black;
    

    
    color: white;
    background-color: rgb(200, 65, 40);
}
