#header {
    border-bottom: 5px solid grey;
}

.headerarea {
    position:fixed;
    top:20px;
    left: 10px;
    

    width: 255px;
    height: 80px;
    min-width: 30%;
    min-height:10%;
       
    text-align: center;
    font-family: 'Fjalla One', monospace, sans-serif;
    color: rgb(158, 158, 158);
    font-size: 12%; 
 }

#logo {
    
    position:fixed;
    right: 20px;
    top:20px;
    
    width: 255px !important;
    height: 80px !important;
    min-width: 20% !important;
    min-height: 10% !important;
    

    /*
    
    border-left-width: 10px;
    border-left-color: white;
    border-left-style: solid;
    background-color:#ffffff;
    
    background-image: url("images/fhs-logo-de.svg");
    background-repeat: no-repeat;
    background-size: 1255px 800px;

    */
}