<div class="header">

  <div class="container-fluid">
      <div class="row">
        
            <div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
                 <a href="/"><img id="logo" src="assets/images/LogoEasyChat.jpg" alt="Logo" /></a>
            </div>

             <div class="col-xs-0 col-sm-8 col-lg-8 col-xl-8">
                  <div class="word">
                     <span>E</span>
                     <span>A</span>
                     <span>S</span>
                     <span>Y</span>
                     <span>C</span>
                     <span>H</span>
                     <span>A</span>
                     <span>T</span>
                  </div>
             </div>
            
      </div>
   </div>

</div>
