<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8 order-first">
            <div class="headerarea">
               <h1>Easy Chat MVP</h1>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-lg-4">
                 <div><a href="/" class="logo">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                     <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet"> 
                 </div>
         </div>

    </div>
</div>


