
#nickNameTitle {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputNickname {
    position: relative;
    color: black;
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100px;
}
/*
#nickNameButton {
    position: relative;
    top: 5%;
}
*/

#nickNameButton {
    position: relative;
    top: 30px;
    max-width: 100px;
}

#nickNameButton {
    color: rgba(200, 65, 40, 1);
    background: none;
    border: 2px solid rgba(200, 65, 40, 1);
    border-radius: 5px;
    width: 100%;
}

#nickNameButton:hover {
    color: #f8f9fa;
    background-color: rgba(200, 65, 40, 1);
}

#nickNameButton:disabled {
    color: rgba(200, 65, 40, 0.5);
    background: none;
    border: 2px solid rgba(200, 65, 40, 0.5);
}
