<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="mainarea">
    <div class="row">
        <div class="col-12">
            Eingabebereich<br />
            <br />
            <br />
            {{myVariable}}<br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea maxlength="1000" [(ngModel)]="myVariable" (enter)="myVariable=''" (change)=mirror_text()>{{myVariable}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" name="submit" value="Absenden" (click)="sendChat()"/><br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Chatausgabe<br/>
            <br/>
            {{postings}}<br/>
        </div>
    </div>
    
</div>