<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<div class="mainarea">

        <div class="chatarea">
                <div class="row">
                    <div class="col-12" style="white-space: pre-line">

        <h1 id="chatausgabe">Provisorische Chatausgabe</h1><br />
        
        <app-chat-history [(chatHistory)]="historyText"></app-chat-history>
        <app-chat-bar [(chatMessage)]="messageText" (chatMessageChange)="chatMsg($event)"></app-chat-bar>

                    </div>
                </div>
        </div>
    
<!--    
    <div>
        In der main-Komponente: {{messageText}}
        Komponente main. Dort sind chat-bar und chat-history angefügt. Kommunikation zwischen Chat-bar und chat-history passiert im Eventhandler chatMsg
    </div>
-->
<!--
    <div class="row">
        <div class="col-12" style="white-space: pre-line">
            <h1 id="chatausgabe">Provisorische Chatausgabe</h1><br />
            
            <p>Preview: {{chatText}}</p>
             <br />
             <br />
             
               {{postings}}<br />
             
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p id="eingabebereich">Eingabebereich</p><br />
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea maxlength="1000" cols=60 [(ngModel)]="chatText" placeholder="Schreiben Sie hier Ihren Text." 
                (change)=mirror_text()></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-secondary btn-large" type="submit" name="submit" value="Absenden" (click)="sendChat()" >Absenden</button><br />
            <br />
            <br />
        </div>
    </div>
-->
</div>