.container-fluid {
    margin-top: 2%;

    border: 2px solid yellowgreen;
}
#mainchatbereich {

    /*
    min-width: 50%;
    max-width: 60%;
    min-height: 60%;
    */

      
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(0, 102, 185);
}

#mainlinks {

    border: 2px solid black;

}

#mainrechts {
    
    border: 2px solid black;

}

#chatausgabe {
    color: grey;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eingabebereich {
    color: black;
    font-size: 15px;
    
    border-bottom: 2px solid grey;
}


.area1 {
    background-color:#00BFFF;
}

.area2 {
    background-color:#00639e;
}

.area3 {
    background-color:#FFFFFF;
}