
.container-fluid {

    position: fixed;
    top: 130px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

#mainchatbereich {
     
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px solid rgb(00, 00, 00);
    border-left: 2px solid rgb(00, 00, 00);
    border-right: 2px solid rgb(00, 00, 00);
    border-bottom: 2px solid black;
    background-color: rgba(200, 65, 40, 1);

}

#mainlinks {

    color: black;
    background-color: white;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    font-family: Verdana, Geneva, Tahoma, sans-serif;    

}

#mainrechts {

    color: black;
    background-color: white;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    font-family: Verdana, Geneva, Tahoma, sans-serif;  

}

#chatausgabe {

    top: 100px;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eingabebereich {
    color: white;
    font-size: 15px;
    
    border-bottom: 2px solid grey;
}

@media (max-width: 992px) {

    .container-fluid {
        position: fixed;
        top: 130px;
    }

}

@media (max-width: 770px) {

    .container-fluid {
        position: fixed;
        top: 110px;
    }

}

@media (max-width: 600px) {

    .container-fluid {
        position: fixed;
        top: 90px;
    }

}


