.mainarea {
    position:absolute;
    top:120px;
    left:20px;
    right:20px;
    bottom: 10%;

    min-width: 50%;
    max-width: 60%;
    min-height: 60%;

    margin: auto;
    padding: 5px;
       
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(0, 102, 185);
}



#chatausgabe {
    color: grey;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#eingabebereich {
    color: black;
    font-size: 15px;
    
    border-bottom: 2px solid grey;
}


.area1 {
    background-color:#00BFFF;
}

.area2 {
    background-color:#00639e;
}

.area3 {
    background-color:#FFFFFF;
}